<%= flash[:notice] %>
<%= render 'books/showlist', book: @book_new, user: @user %>
<h1>Book detail</h1>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %><br/><%= @user.name %></td>
      <td><%= link_to @book.title, book_path %></td>
      <td><%= @book.body %></td>
      <% if @user == current_user %>
        <td><%= link_to "Edit", edit_book_path %></td>
        <td><%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>

      </tr>

  </tbody>
</table>
